:root {
  // Colors
  --graphite-dark: #151618;
  --graphite-dark-rgb: 21, 22, 24;
  --black: #000;
  --eggshell: #f4f4f4;
  --eggshell-rgb: 244, 244, 244;
  --white: #fff;
  --zambezi: #5f5f5f;
  --red: #f0000f;
  --cinnabar: #eb3737;
  --green: #065a06;
  --light-green: #7dce7d;

  // Generals
  --border-radius: 6px;

  // Fonts
  --font-family-euclid: 'Euclid Square', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  --font-family-brandon: 'Brandon Grotesque', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  --login-color: coral;
  --login-color: aqua;
}

@mixin dark-theme-variables {
  --bg-color: var(--graphite-dark);
  --text-color: var(--eggshell);
  --text-color-rgb: var(--eggshell-rgb);

  // Navbar
  --nav-bg: #242526;
  --nav-notification-bg: var(--white);

  // Button
  --btn-bg-color: var(--white);
  --btn-border-color: var(--white);
  --btn-text-color: var(--graphite-dark);

  // Icon
  --icon-color: var(--white);
  --icon-inert-color: var(--graphite-dark);

  // Card
  --card-bg-color: #242526;

  // Error
  --error-message: var(--red);

  // Message
  --message: var(--light-green);
}

@mixin light-theme-variables {
  --bg-color: var(--eggshell);
  --text-color: var(--graphite-dark);
  --text-color-rgb: var(--graphite-dark-rgb);

  // Navbar
  --nav-bg: var(--white);
  --nav-notification-bg: var(--graphite-dark);

  // Button
  --btn-bg-color: var(--graphite-dark);
  --btn-border-color: var(--graphite-dark);
  --btn-text-color: var(--white);

  // Icon
  --icon-color: var(--graphite-dark);
  --icon-inert-color: var(--white);

  // Card
  --card-bg-color: var(--white);

  // Error
  --error-message: var(--cinnabar);

  // Message
  --message: var(--green);
}
