.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.note {
  max-width: 300px;
  text-align: center;
}

.error {
  color: var(--error-message);
  margin: 10px 0;
}
